{{ define "navs"}}

  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link" href="/">Home/Início</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#">-</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="/users">Listar</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" type="button" data-bs-toggle="modal" data-bs-target="#form_modal" href="/#">Adicionar</a>
    </li>
  </ul>

{{ end }}